<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Partido</title>
    <link rel="shortcut icon" href="static/icono_principal.png">
</head>
<body style="background-image: url('static/fondo_principal2.jpeg'); background-repeat: no-repeat; background-size: cover;">
    
    <h1 style="position: -webkit-sticky; position: sticky; top: 0.01rem; text-align: center; background-color: green; ">Generar Partido</h1>
    
    <div id="Nav_Bar" style="position: -webkit-sticky; position: sticky; top: 2.5rem; border: 5pt ridge white; border-radius: 45%; display: inline-flex; background-color: darkgreen; max-height: 1%;">
    
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 2.5%;" href="/inicio">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%; padding-top: 45%;" src="static/icono_principal.png">
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Home</p></b>
        </a>
        
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 10%;" href="/consultar_Partidos">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_partidos2.png">
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Partidos</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%;" href="/consultar_jugadores">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_entrenador.png"> 
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Jugadores</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%;" href="/consultar_entrenadores">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_jugador.png">
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Entrenadores</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%; margin-top: 1.5%;" href="/consultar_Ligas">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_partidos.png">
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Ligas</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 10%;" href="/consultar_equipos">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_equipo.png">
            <b><p style="color: rgb(11, 12, 90); font-size: larger; margin-top: -10%;">Equipos</p></b>
        </a>
    </div>
    
    {% if mensaje %}
    <p style="color: green; text-align: center; font-size: larger;"><strong>Mensaje:</strong> {{ mensaje }}
    {% endif %}

    <div style="background-color: green; text-align: center; margin-top: 5%; margin-left: 28%; width: 45%; border: 5pt solid white; border-radius: 30%;">
        <form action="/registrarPartido" method="post" style="font-size: larger;">
            <label for="equipo1">Equipo 1:</label><br>
            <input type="text" id="equipo1" name="equipo1" required><br><br>

            <label for="equipo2">Equipo 2:</label><br>
            <input type="text" id="equipo2" name="equipo2" step="0.01" min="0" required><br><br>

            <label for="fecha">Fecha:</label><br>
            <input type="text" id="fecha" name="fecha" step="0.01" min="0" required><br><br>

            <input type="submit" value="Agregar Partido" style="margin-bottom: 12%; margin-top: 2.5%; border: 3.5pt groove white; border-radius: 32%; font-size: larger; color: white; background-color: darkgreen;">
        </form>
    </div>


</body>
<footer style="text-align: center; position: bottom; margin-top: 25%; color: blue;">
    <b><p>Roberto Arteaga</p></b>
    <b><p>UACM 2024</p></b>
</footer>
</html>