<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Jugador</title>
    <link rel="shortcut icon" href="static/icono_principal.png">
</head>
<body style="background-image: url('static/fondo_principal2.jpeg'); background-repeat: no-repeat; background-size: cover;">
    
    <h1 style="text-align: center;">Registrar Jugador</h1>
    
    <div id="Nav_Bar" style="position: -webkit-sticky; position: sticky; top: 2.5rem; border: 5pt ridge white; border-radius: 45%; display: inline-flex; background-color: darkgreen; max-height: 1%;">
        
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 2.5%;" href="/inicio">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_principal.png">
            <b><p style="color: black; font-size: larger;">Home</p></b>
        </a>

        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 10%;" href="/consultar_Partidos">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_partidos2.png">
            <b><p style="color: black; font-size: larger;">Partidos</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%;" href="/consultar_jugadores">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_entrenador.png"> 
            <b><p style="color: black; font-size: larger;">Jugadores</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%;" href="/consultar_entrenadores">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_jugador.png">
            <b><p style="color: black; font-size: larger;">Entrenadores</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%;" href="/consultar_Ligas">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_partidos.png">
            <b><p style="color: black; font-size: larger;">Ligas</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 10%;" href="/consultar_equipos">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_equipo.png">
            <b><p style="color: rgb(11, 12, 90); font-size: larger;">Equipos</p></b>
        </a>
    </div>
    
    {% if mensaje %}
    <p style="color: green; text-align: center; font-size: larger;"><strong>Mensaje:</strong> {{ mensaje }}
    {% endif %}
    <div style="background-color: green; text-align: center; margin-top: 5%; margin-left: 28%; width: 45%; border: 5pt solid white; border-radius: 30%;">
        <form action="/registrarJugador" method="post" style="font-size: larger;">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label for="apPaterno">Apellido Paterno:</label><br>
            <input type="text" id="apPaterno" name="apPaterno" required><br><br>

            <label for="apMaterno">Apellido Materno:</label><br>
            <input type="text" id="apMaterno" name="apMaterno" required><br><br>

            <input type="submit" value="Registrar Jugador" style="margin-bottom: 12%; margin-top: 2.5%; border: 3.5pt groove white; border-radius: 32%; font-size: larger; color: white; background-color: darkgreen;">
        </form>
    </div>
</body>
<footer style="text-align: center; position: bottom; margin-top: 25%; color: blue;">
    <b><p>Roberto Arteaga</p></b>
    <b><p>UACM 2024</p></b>
</footer>
</html>