<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reglamento</title>
    <link rel="shortcut icon" href="static/icono_principal.png">
</head>
<body style="background-image: url('static/fondo_principal2.jpeg'); background-repeat: no-repeat; background-size: cover;">

    <h1 style="text-align: center;">Reglamento</h1>

    <div id="Nav_Bar" style="position: -webkit-sticky; position: sticky; top: 2.5rem; border: 5pt ridge white; border-radius: 45%; display: inline-flex; background-color: darkgreen; max-height: 1%;">
    
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 2.5%;" href="/inicio">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%; padding-top: 45%;" src="static/icono_principal.png">
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Home</p></b>
        </a>
        
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 10%;" href="/consultar_Partidos">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_partidos2.png">
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Partidos</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%;" href="/consultar_jugadores">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_entrenador.png"> 
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Jugadores</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%;" href="/consultar_entrenadores">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_jugador.png">
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Entrenadores</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 20%; margin-top: 1.5%;" href="/consultar_Ligas">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_partidos.png">
            <b><p style="color: black; font-size: larger; margin-top: -10%;">Ligas</p></b>
        </a>
        <a style="width: 5%; height: 5%; padding-bottom: -10%; margin-right: 10%;" href="/consultar_equipos">
            <img style="max-width: 75%; max-height: 75%; padding-left: 10%;" src="static/icono_equipo.png">
            <b><p style="color: rgb(11, 12, 90); font-size: larger; margin-top: -10%;">Equipos</p></b>
        </a>
    </div>
    
<div id="container" style="text-align: center; background-color: green; margin: 10%; font-size: larger; border: 10pt groove white;">
    <p>1.- <strong> Campo de Juego:</strong>
        <span>
             <p>- El campo debe ser rectangular y estar marcado con líneas.</p>
             <p>- Las dimensiones deben ser: longitud entre 90 y 120 metros, anchura entre 45 y 90 metros.</p>
        </span>
    </p>
    <p>2.- <strong> Balón: </strong>
        <span>
            <p>- El balón debe ser esférico, con una circunferencia de entre 68 y 70 cm.</p>
            <p>- El balón debe estar inflado a una presión de entre 0.6 y 1.1 atmósferas.</p>
        </span>
    </p>
    <p>3.- <strong>Número de Jugadores:</strong>
        <span>
            <p>- Cada equipo estará compuesto por un máximo de 11 jugadores, uno de los cuales será el portero.</p>
            <p>- Un partido no puede comenzar si alguno de los equipos tiene menos de 7 jugadores.</p>
        </span>
    </p>
    <p>4.- <strong>Equipamiento de los Jugadores: </strong>
        <span>
            <p>- Los jugadores deben usar camisetas, pantalones cortos, medias, espinilleras y calzado adecuado.</p>
            <p>- El portero debe llevar una indumentaria que lo distinga de los demás jugadores y del árbitro.</p>
        </span>
    </p>
    <p>5.- <strong>Duración del Partido: </strong>
        <span>
            <p>- Un partido consta de dos tiempos de 45 minutos cada uno.</p>
            <p>- El descanso entre ambos tiempos no debe exceder los 15 minutos.</p>
        </span>
    </p>
    <p>6.- <strong>Inicio y Reanudación del Juego: </strong>
        <span>
            <p>- El partido comienza con un saque desde el centro del campo.</p>
            <p>- Después de un gol, el juego se reanuda con un saque desde el centro del campo por el equipo que ha recibido el gol.</p>
        </span>
    </p>
    <p>7.- <strong>El Gol:</strong>
        <span>
            <p>- Se marcará un gol cuando el balón haya cruzado completamente la línea de gol entre los postes y por debajo del travesaño.</p>
        </span>
    </p>
    <p>8.- <strong>Faltas y Conducta Antideportiva:</strong>
        <span>
            <p>- Se concederá un tiro libre directo por faltas como el uso excesivo de la fuerza o conductas antideportivas.</p>
            <p>- Se concederá un tiro penal si una falta sancionable con tiro libre directo ocurre dentro del área de penal del equipo infractor.</p>
        </span>
    </p>
    <p>9.- <strong> Árbitros: </strong>
        <span>
            <p>- Un partido será controlado por un árbitro con autoridad para hacer cumplir las reglas del juego.</p>
            <p>- El árbitro estará asistido por dos árbitros asistentes y, si es necesario, por un cuarto árbitro.</p>
        </span>
    </p>
    <p>10.- <strong>Fuera de Juego:</strong>
        <span>
            <p>- Un jugador estará en posición de fuera de juego si se encuentra más cerca de la línea de gol contraria que el balón y el penúltimo adversario, al momento de que el balón sea jugado hacia él.</p>
        </span>
    </p>
    <strong><p style="color: blue; text-decoration: dashed; text-decoration: underline;">Este es un resumen básico de las reglas del fútbol. Para un reglamento completo, consulta las Reglas de Juego de la FIFA.</p></strong>
</div>


</body>
<footer style="text-align: center; position: bottom; margin-top: 25%; color: blue;">
    <b><p>Roberto Arteaga</p></b>
    <b><p>UACM 2024</p></b>
</footer>
</html>